<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="Description" content="{{ page.description }}">
        <meta property="twitter:account_id" content="15786077" />
        <link rel="alternate" type="application/rss+xml" title="Chris Missal &raquo; Feed" href="/feed.xml" />

        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/theme/bootflat/css/bootflat.min.css">
        <link rel="stylesheet" href="/css/site.css">

         <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-41142785-1']);
          _gaq.push(['_setDomainName', 'chrismissal.com']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "f4d2b848-062d-4291-aac8-e136bfde15e3", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
        {% for script in page.scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
      </head>
    <body>
      <div class="docs-header">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> ChrisMissal.com</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-link" href="/work"><i class="glyphicon glyphicon-briefcase"></i> my work</a></li>
                <li><a class="nav-link" href="/tools"><i class="glyphicon glyphicon-wrench"></i> tools</a></li>
                <li><a class="nav-link" href="/speaker"><i class="glyphicon glyphicon-comment"></i> speaker</a></li>
                <li><a class="nav-link" href="/presentations"><i class="glyphicon glyphicon-bullhorn"></i> presentations</a></li>
                <li><a class="nav-link" href="/instagram-is-for-counting"><i class="glyphicon glyphicon-camera"></i> instagram is for counting</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="container">
        {{ content }}
      </div>
      <div class="footer">
        <div class="container">
          <div class="clearfix">
            <div class="footer-logo">
              <a href="#"><img src="https://en.gravatar.com/userimage/4942425/09c06bd991a8f0ac2c9436cb6d6c904b.jpg?size=150" class="image-responsive img-thumbnail hidden-xs"></a>
            </div>
            <dl class="footer-nav">
              <dt class="nav-title text-uppercase">Projects</dt>
              <dd class="nav-item"><a href="/Formo">Formo</a></dd>
              <dd class="nav-item"><a href="/Quiche">Quiche</a></dd>
              <dd class="nav-item"><a href="http://github.com/ChrisMissal/TempusReader">Tempus Reader</a></dd>
              <dd class="nav-item"><a href="http://github.com/ChrisMissal/Freddie">Freddie</a></dd>
              <dd class="nav-item"><a href="http://github.com/ChrisMissal/ChromeLogger">Chrome Logger</a></dd>
            </dl>
            <dl class="footer-nav">
              <dt class="nav-title text-uppercase">Sites</dt>
              <dd class="nav-item"><a href="http://lostechies.com/chrismissal">My Los Techies Blog</a></dd>
              <dd class="nav-item"><a href="http://nugetstatus.com">NuGet Status</a></dd>
              <dd class="nav-item"><a href="http://kevinspacer.com">Kevin Spacer</a></dd>
            </dl>
            <dl class="footer-nav">
              <dt class="nav-title text-uppercase">Social</dt>
              <dd class="nav-item"><a href="https://twitter.com/{{ site.username }}">Twitter</a></dd>
              <dd class="nav-item"><a href="https://github.com/{{ site.username }}">GitHub</a></dd>
              <dd class="nav-item"><a href="https://facebook.com/{{ site.username }}">Facebook</a></dd>
              <dd class="nav-item"><a href="https://instagram.com/{{ site.username }}">Instagram</a></dd>
              <dd class="nav-item"><a href="https://plus.google.com/u/1/+{{ site.username }}">Google+</a></dd>
              <dd class="nav-item"><a href="http://coderwall.com/{{ site.username }}">Coderwall</a></dd>
              <dd class="nav-item"><a href="http://coderbits.com/{{ site.username }}">Coderbits</a></dd>
            </dl>
            <dl class="footer-nav">
              <dt class="nav-title text-uppercase">Contact</dt>
              <dd class="nav-item"><a href="https://linkedin.com/in/{{ site.username }}">LinkedIn</a></dd>
              <dd class="nav-item"><a href="mailto:chris.missal@gmail.com">Email Me</a></dd>
            </dl>
          </div>
          <div class="footer-copyright text-center">Copyright &copy; 2001 – {{ site.time | date: '%Y' }}</div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="/theme/bootflat/js/icheck.min.js"></script>
      <script src="/theme/bootflat/js/jquery.fs.selecter.min.js"></script>
      <script src="/theme/bootflat/js/jquery.fs.stepper.min.js"></script>
    </body>
</html>
