<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="Description" content="{{ page.description }}">
        <meta property="twitter:account_id" content="15786077" />
        <link rel="alternate" type="application/rss+xml" title="Chris Missal &raquo; Feed" href="/feed.xml" />

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-41142785-1']);
          _gaq.push(['_setDomainName', 'chrismissal.com']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "f4d2b848-062d-4291-aac8-e136bfde15e3", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
        {% for script in page.scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
      </head>
    <body>

        <div class="">
          <div class="">
            <div class="">
              <div class="avatar">
                <img src="http://en.gravatar.com/userimage/4942425/e3b300f85ae409555a9e47ff4114ea4a.jpg?size=100" alt="Chris" title="Chris" />
              </div>
              <div class="">
                <p><quote>The online portfolio, blog, and resume of Chris Missal.</quote><p>
                <ul class="">
                  <li><a class="twitter" href="https://twitter.com/{{ site.username }}" title="chris missal twitter">chris missal twitter</a></li>
                  <li><a class="github" href="https://github.com/{{ site.username }}" title="chris missal github">chris missal github</a></li>
                  <li><a class="linkedin" href="https://linkedin.com/in/{{ site.username }}" title="chris missal linkedin">chris missal linkedin</a></li>
                  <li><a class="gpluslight" href="https://plus.google.com/u/1/+ChrisMissal" title="chris missal google plus">chris missal google plus</a></li>
                  <li><a class="instagram" href="https://instagram.com/{{ site.username }}" title="chris missal instagram">chris missal instagram</a></li>
                  <li><a class="facebook" href="https://facebook.com/{{ site.username }}" title="chris missal facebook">chris missal facebook</a></li>
                  <li><a class="email" href="mailto:chris.missal@gmail.com" title="chris missal email">chris missal email</a></li>
                </ul>    
              </div>
            </div>
            <div class="">
              <h1 class=""><a href="/">{{ site.name }}</a></h1>
              <a class="" href="/">home</a>
              <a class="" href="/work">my work</a>
              <a class="" href="/speaker">speaker</a>
              <a class="" href="/tools">tools</a>
              <a class="" href="/presentations">presentations</a>
            </div>
     
                {{ content }}

            <div class="">
              <div class="">
                <p>
                  Chris Missal<br />
                  Austin, Texas<br />
                  chris.missal@gmail.com
                </p>
              </div>
              <div class="">
                <p>
                  <a href="http://github.com/ChrisMissal/">github.com/ChrisMissal</a><br />
                  <a href="http://twitter.com/ChrisMissal/">twitter.com/ChrisMissal</a><br />
                </p>
              </div>
              <div class="">
                <p>Copyright &copy; 2001 – {{ site.time | date: '%Y' }}</p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
